<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
<div style="padding: 250px 0px;" >
  <div class="center opaque">
    <div class="card-body" style="resize: none;">
        <h5 style= "padding: 20px; font-family:'Josefin sans'; font-size: 180%; color:#800020" class="card-title center-text"><b>Login</b></h5>
        <form action="/authentication" method="post">
        <div class="mb-3">
          <input type="text" class="form-control border-rad opaque" id="exampleFormControlInput1" style="color:#915F6D;" name="username" placeholder="Username">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput2" class="visually-hidden">Password</label>
          <input type="password" class="form-control border-rad" id="exampleFormControlInput2" name="password" placeholder="Password">
        </div>
        <div class="col-auto width">
          <button type="submit" class="btn btn-light width">Login</button>
        </div>
        <div style="padding:20px">
            <p style="color:#9F2B68"><b>Don't have an account? <a href="{{url_for('registration_page')}}" style="color:purple; text-decoration:none;">Register</b></a></p>
        </div>
        </form>
    </div>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous">
    </script>
</body>
</html>